/* -----------------------------------Contact---------------------------------------- */
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
}

.title {
    color: white;
    text-align: center;
    font-size: 35px;
}

.contact span {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 45px;
    font-size: 16px; /* hii */

}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.card {
    background: rgb(0, 5, 17);
    width: 550px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0.2px 0.2px 5px 0.3px rgb(106, 106, 122);
    resize: none;
}

.card h2 {
    color: white;
    margin-bottom: 15px;
}

.card .card_find_me a {
    color: white;
    text-decoration: none;
}

.card .card_find_me i {
    color: white;
    margin-bottom: 10px;
}

.form-control {
    width: 550px;
}

.form-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-field {
    width: 49%;
    height: 55px;
    background: rgb(0, 5, 17);
    border: 1px solid white;
    color: white;
    padding-inline: 20px;
    border-radius: 10px;
    outline: none;
}

.input-field:hover {
    border: 1.5px solid rgb(243, 176, 52);
}


textarea {
    width: 100%;
    height: 285px;
    background: transparent;
    border: 1px solid white;
    padding: 15px 20px;
    color: white;
    border-radius: 10px;
    outline: none;
    resize: none;
}

textarea:hover {
    border: 1.5px solid rgb(243, 176, 52);
}

.form-button {
    height: 55px;
    display: flex;
    justify-content: flex-end;
}

.form-button .submit {
    display: flex;
    background: rgb(8, 0, 0);
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid white;
}

.submit:hover {
    background: rgb(243, 176, 52);
    border: none;
}

.form-button i {
    font-size: 18px;
    rotate: 30deg;
    margin-left: 10px;
}

@media (max-width: 1300px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }

    .form-control {
        width: 80%;
    }
}

@media (max-width: 768px) {

    .title {
        font-size: 30px;
    }

    .card {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
    }

    .footer_menu_list a {
        margin-inline: 10px;
    }

    textarea {
        height: 260px;
    }

    .contact span {
        font-size: 14px;
    }
}