/*--------------------------Home ---------------------------------*/
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    color: white;
    min-height: 700px;
    gap: 12vw;
}

.avtar img {
    width: 350px;
    height: 340px;
    border-radius: 50%;
    box-shadow: 0.1px 1px 11px rgb(237, 235, 232);
}

.text-1 {
    font-size: 26px;
}

.text-1 span {
    font-size: 28px;
    color: rgb(243, 176, 52);
    font-weight: 600;
}

.paragraph {
    width: 80%;
    font-size: 14px; 
}

.text-2 {
    font-size: 26px; 
    font-weight: 600;
}

.text-2 span {
    font-size: 28px;
    color: rgb(243, 176, 52);
    font-weight: 600;
}

.column p {
    text-align: center; 
}

.home-content p {
    color: white;
}

.text-btn {
    display: flex;
    border-radius: 10px;
    gap: 20px;

}

.btn {
    border: none;
    color: white;
    margin-top: 15px;
    text-decoration: none; 
    font-size: 15px;
    padding: 8px 17px;
    cursor: pointer;
    border: 0.5px solid rgb(243, 176, 52);
    border-radius: 10px;
    background: rgb(8, 0, 0);
    font-weight: 500;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: rgb(243, 176, 52);
    font-size: 16px;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn i {
    margin: 10px;
    font-size: 20px;
}

.icon i {
    font-size: 20px;
}

.social-icon {
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    gap: 32px;
}

.social-icon a {
    color: white;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.icon:hover {
    border: 0.1px solid rgb(243, 176, 52);
    border-radius: 50%;
    box-shadow: 0.1px 1px 10px rgb(229, 210, 173);
}

@media (max-width: 1200px) {
    .home {
        flex-direction: column;
        height: fit-content;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media (max-width: 768px) {
    .home {
        height: fit-content;
        padding-block: 100px;
        align-items: center;
        justify-content: center;
    }

    .avtar img {
        margin-top: 10px;
        height: 280px;
        width: 280px;
    }

    .text-btn {
        justify-content: center;
    }

    .social-icon {
        justify-content: center;
    } 
    .paragraph {
        font-size: 10px; 
    }   

}