* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 3, 15);
}

.wrapper {
    margin-inline: 8vw;
}

/* ---------------------------- Projects ------------------------------*/
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;

}

.projects .title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
    padding-bottom: 45px;
}

.project-content {
    box-shadow: 0.2px 0.2px 5px 0.3px rgb(106, 106, 122);
    border-radius: 10px;
    align-items: center;
    width: 100%;
    height: 450px;
    background: rgb(0, 5, 17);
}

.project-content {
    justify-content: space-around;
    display: flex;

}

.project-box {
    height: 300px;
    width: 250px;
    color: white;
    border: 1.5px solid #364162;
    border-radius: 10px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(0, 5, 17);
}

.projectPhoto img {
    width: 150px;
    height: 145px;
    border-radius: 50%;
}

.project-box span {
    padding-top: 10px;
    font-weight: 600;
}



/*----------------------------- Footer -------------------------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #0e0e1c;
    color: white;
    margin-top: 45px;
    padding-block: 40px 60px;
}

.middle-footer .footer-menu {
    display: flex;
}

.footer_menu_list {
    list-style: none;
}

.footer_menu_list a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    margin-inline: 20px;
}

.footer_menu_list a:hover {
    color: rgb(243, 176, 52);
}

.footer-social-icons {
    display: flex;
    gap: 30px;
}

.footer-social-icons a {
    color: white;
}

.bottom-footer {
    font-size: 16px;
    margin-top: 10px;
}

.bottom-footer a {
    color: white;
}

/* ------------------------Responsive Design ------------------------*/
@media (max-width: 768px) {

    .project-content {
        width: 100%;
        flex-direction: column;
        height: fit-content;
    }

    .project-box {
        margin-block: 15px;
        text-align: center;
    }

    .container {
        flex-direction: column;
    }


}